.backgroundColorPage {
    background-color: white;
}

#header {
    width: 95%;
    height: 65px;
    padding: 4px 24px;
}


#header .itemMenu:hover {
    cursor: pointer;
    background-color: #FDBF5A;
    color: black !important;
}